$t-letra1: 'Open Sans', sans-serif;
$t-letra2: 'Raleway', sans-serif;

.relleno{
	width: 100%;
	box-sizing: border-box;
	background:#00223b;
	color: white; 
	text-align: center;
	padding: 5% 0;
	margin-top: 50px;
	h3{
		display: inline-block;
		font-family: $t-letra2;
		span{
			color:#00BFFF;
			font-size: 30px;
			font-family: $t-letra1;
			font-weight: bold;
		}
	}
}

.pie{
	width: 100%;
	background: #091722;	
	font-family: $t-letra1;
	color: white;
	font-size: 12px;
	display: inline-block;
	padding:20px 0;
	p{
		color: #90909c;
		display: inline-block;
		margin-left: 10px;
	}
	.almenu{
		float: right;
		padding:10px 0;
		li{
			display: inline-block;
			margin: 0 10px;			
			a{
				color: #90909c;
				display: inline-block;
				text-align: center;
				box-sizing:border-box;
				text-decoration: none;
				&:hover{
					color:darken(#90909c, 100%);
				}			
			}
		}
	}
}
